/*
	Venue by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		font-size: 10pt;
	}

		ul.social
		{
			text-align: right;
		}

			ul.social li:last-child
			{
				padding-right: 0;
			}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		width: 100%;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio
	{
	}
	
		#portfolio .pbox1
		{
			padding-top: 2.4em;
			padding-left: 3em;
		}

		#portfolio .pbox3
		{
			padding-top: 2em;
			padding-right: 3em;
		}

