<div id="portfolio">
  <div class="container">

    <section>
      <header>
        <h2>Urnamin dapi</h2>
      </header>
    </section>

    <!-- Author 1 -->
      <div class="row">

        <section class="5u">
          <div class="pbox1">
            <div class="author">
              <h3>Amanda Doe</h3>
              <span>CEO</span>
            </div>
            <div class="network">
              <ul class="social">
                <li><a href="#" class="icon fa-facebook"><span></span></a></li>
                <li><a href="#" class="icon fa-twitter"><span>Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span>LinkedIn</span></a></li>
              </ul>
            </div>
          </div>
        </section>

        <section class="2u">
          <div class="pbox2">
            <a href="#" class="image"><img src="images/placeholder.jpg" alt="" /></a>
          </div>
        </section>

        <section class="5u">
          <div class="pbox3"><p>Dolor sit amet consectetuer adipiscing elit. Phase llus hendrerit. Pelletesque aliquet nibh nec aliquet nibdap pellentus sitn</p></div>
        </section>

      </div>

    <div class="border-style"><span class="border">&nbsp;</span></div>
  </div>
</div>
