<div id="featured">
  <div class="container">
    <div class="row">

      <!-- Featured 1 -->
        <section class="4u">
          <header>
            <h2>Cras ornare tristique</h2>
            <span class="byline">Ut aliquam sollicitudin</span>
          </header>
          <div class="box-style">
            <p>Lorem ipsum dolor sit amet, consectetuer adiing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, damattis vel, nisi. Sed pretium ligula</p>
          </div>
          <a href="#" class="button">More Info</a>
        </section>

      <!-- Featured 2 -->
        <section class="4u">
          <header>
            <h2>Donec quis dui at dolor</h2>
            <span class="byline">Fusce lobortis lorem atpsu</span>
          </header>
          <div class="box-style">
            <p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna lorem ipsum</p>
          </div>
          <a href="#" class="button">More Info</a>
        </section>

      <!-- Featured 3 -->
        <section class="4u">
          <header>
            <h2>Fusce pellentesque sust</h2>
            <span class="byline">Ut aliquam sollicitudin</span>
          </header>
          <div class="box-style">
            <p>Ted egestas, ante et vulputate volutpat, eros
semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est sed lectus</p>
          </div>
          <a href="#" class="button">More Info</a>
        </section>

    </div>
  </div>
</div>
